/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

img {
    max-width: 100%;
}

/* COMMON */
.container {
    width: 70%;
    max-width: 1400px;
    margin: 0 auto;

    /* debug */
}



.py-50 {
    padding-top: 50px;
    padding-bottom: 50px;
}

/* Palette */
.gray-bg {
    background-color: #F6F6F6;
}

.dark-bg {
    background-color: #23272A;
}

body {
    font-family: Whitney, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body a {
    text-decoration: none;
}

.btn {
    background-color: white;
    color: black;
    border-radius: 20px;
    padding: 10px 10px;


}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.dark-btn {
    background-color: #23272a;
    color: #ffffff;
    margin-left: 15px;
}

.blue-btn {
    background-color: #7289DA;
    color: #ffffff;
}



/* HEADER */
.header {
    display: flex;
    background-color: #255EE9;
    height: 80px;
    align-items: center;
}



.header-nav {

    display: flex;
    min-width: 870px;


}

.logo-block {
    display: flex;
    align-items: center;
    width: 20%;
    padding: 5px;

}

.navigation {
    width: 60%;
    display: flex;
    justify-content: center;


}

.login {
    width: 20%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 5px;
}



.nav-list {
    display: flex;
    justify-content: center;
    align-items: center;
}



.nav-list li a {
    color: #ffffff;
    font-size: 1.2rem;
    padding: 0 10px 0 10px;
}

/* MAIN */


/* hero section */
.hero-section {
    background-image: url(../img/jumbo.png);
    background-size: cover;

    display: flex;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 80px;
}

.hero-cont {

    width: 60%;
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;



}

.hero-cont h2 {
    font-size: 2rem;
    color: #ffffff;
    margin-bottom: 20px;
}

.hero-cont p {
    margin-bottom: 20px;
    line-height: 1.7rem;
    text-align: center;
    font-size: 1.2rem;
    color: #ffffff;
}

.btn-cont {
    display: flex;
    flex-wrap: wrap;

}

/* fine hero section */

.flex-container {
    display: flex;
    align-items: center;

}

.col-40 {
    width: 40%;

}

.col-40 h2 {
    font-size: 2rem;
    color: #000000;
    margin-bottom: 20px;

}

.col-40 p {
    line-height: 1.5rem;
    font-size: 1.1rem;
    color: #000000;

}

.col-60 {
    width: 60%;


}

.big-container {
    display: flex;
    flex-direction: column;
    align-items: center;


}

.big-container h2 {
    font-size: 2rem;
    color: #000000;
    margin-bottom: 20px;

}

.big-container p {
    line-height: 1.5rem;
    font-size: 1.1rem;
    color: #000000;
    text-align: center;
    max-width: 90%;

}

.big-container img {
    width: 100%;
    display: inline-block;
    margin-bottom: 20px;
}

.big-container h3 {
    background-image: url(../img/stars.svg);
    background-size: 100%;
    font-size: 1.5rem;
    color: #000000;
    margin-bottom: 20px;

}

.big-container .btn {
    margin-bottom: 40px;
    background-color: #7289DA;
    color: #ffffff;
}

/* FOOTER */
.footer {
    min-height: 500px;
}

.flex-footer {
    display: flex;
    padding: 50px 0 20px 0;


}

/* Colonna grande */
.col-big {
    width: 30%;


}

.col-big ul {

    list-style: none;
    display: flex;
}


.col-big h3 {
    color: #7289DA;
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: 1.2rem;
}

.language {
    font-size: 0.8rem;
    margin-bottom: 10px;
    color: #ffffff;
    display: flex;
    align-items: center;

}

.language img {
    height: 20px;
    margin-right: 10px;

}

.language span {
    text-align: center;
    vertical-align: middle;
}

.icons {
    text-decoration: none;
    color: #ffffff;
    margin-right: 10px;

}

/* Colonne piccole */
.col-small {
    width: 17.5%;

}

.col-small h4 {
    margin-bottom: 10px;
    color: #7289DA;
}

.col-small ul li {
    margin-bottom: 10px;
    font-size: 0.8rem;
    font-weight: 700;

}

.col-small ul li a {
    color: #ffffff;
}



/* Footer2 */
.flex-footer2 {
    border-top: 2px solid #7289DA;

    display: flex;
    justify-content: space-between;
    align-items: center;

    min-height: 30px;
    padding-top: 20px;
}

.btn-footer {
    background-color: pink;
    border: 1px solid black;
}

/* bonus */
.wave {

    background-image: url(../img/wave.svg);
    background-size: cover;
    height: 100px;


}





.wave2 {
    background-image: url(../img/wave.svg);
    background-size: cover;
    height: 100px;
    transform: scaleY(-1);


}