/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

img {
    max-width: 100%;
}

/* COMMON */
.container {
    width: 70%;
    max-width: 1000px;
    margin: 0 auto;

    /* debug */
}

.py-20 {
    padding-top: 30px;
    padding-bottom: 30px;
}

.py-50 {
    padding-top: 50px;
    padding-bottom: 50px;
}

.gray-bg {
    background-color: gray;
}

.dark-bg {
    background-color: rgba(63, 62, 62, 0.849);
}

body {
    font-family: Whitney, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body a {
    text-decoration: none;
}

.btn {
    background-color: white;
    color: black;
    border-radius: 20px;
    padding: 10px 10px;
}

.dark-btn {
    background-color: #23272a;
    color: #ffffff;
}



/* HEADER */
.header {
    display: flex;
    background-color: #255EE9;
    height: 80px;
    align-items: center;
}



.header-nav {

    display: flex;


}

.logo-block {
    display: flex;
    align-items: center;
    width: 20%;
    padding: 5px;
    min-width: 124px;
}

.navigation {
    width: 60%;
    display: flex;
    justify-content: center;
    min-width: 520px;
}

.login {
    width: 20%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 5px;
}



.nav-list {

    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}



.nav-list li a {
    color: #ffffff;
    font-size: 1.2rem;
    padding: 0 10px 0 10px;
}

/* MAIN */


/* hero section */
.hero-section {
    background-image: url(../img/jumbo.png);
    background-size: cover;
    display: flex;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 80px;
}

.hero-cont {

    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;



}

.hero-cont h2 {
    font-size: 2rem;
    color: #ffffff;
    margin-bottom: 20px;
}

.hero-cont p {
    margin-bottom: 20px;
    line-height: 1.3rem;
    text-align: center;
    font-size: 1.1rem;
    color: #ffffff;
}

.btn-cont {
    display: flex;
    flex-wrap: wrap;
}

/* fine hero section */

.flex-container {
    display: flex;
    align-items: center;

}

.col-40 {
    background-color: pink;
    width: 40%;
    height: 300px;
}

.col-60 {
    background-color: rgba(21, 192, 223, 0.719);
    width: 60%;
    height: 300px;
}

.green-container {
    height: 600px;
    background-color: green;


}

/* FOOTER */
.footer {
    min-height: 500px;
}

.flex-footer {
    display: flex;
    padding: 5px 0 20px 0;


}

.col-big {
    background-color: pink;
    width: 30%;
    min-height: 300px;

}

.col-small {
    background-color: rgb(62, 208, 228);
    min-height: 300px;
    width: 17.5%;
    border: 2px solid black;
}

.footer2 {
    border: 2px solid gray;
}

.flex-footer2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: aquamarine;
    min-height: 30px;
    margin-top: 10px;
}

.btn-footer {
    background-color: pink;
    border: 1px solid black;
}